body {
	font-family: sans-serif;
	font-size: 100%;
	/* line-height: 1.125em; / * 1.125*16=18 */

	margin: 0px;
	padding: 0px 0px 10px 0px;
}

header, footer, aside, nav, article {  
	display: block;  
}  

tt {
	font-family: monospace;
	font-size: 1em;
}

#hw, #sw, #cw, #fw {
	margin: 0 auto;
	-moz-margin: 0 auto;
	width: 960px;
}

#content {
	font-size: 0.875em; /* 0.875*16=14 */
	width: 780px;
	margin: 10px 0 10px 160px;
}

#content li {
	margin: 5px 0;
}

#cw.noaside #content {
	margin: 0.5em 0 0.5em 0;
	-moz-margin: 0.5em 0 0.5em 0;
}

#cw.twosides #content {
	width: 620px;
	margin: 10px 160px 10px 160px;
	-moz-margin: 10px 160px 10px 160px;
}

aside {
	font-size: 0.75em; /* 0.75*16=12 */
}

aside > .box
{
	margin: 0 0 0.5em 0;
	border-radius: 5px;
	background: #deb;
	text-align: center;
	font-size: 0.875em;
	xheight: 50px;
}

aside p {
	margin: 0;
	padding: 0.25em;
}

aside ul {
	list-style: none;
	padding: 5px;
	margin: 0;
}

aside li {
	margin: 5px 0;
}

h1 {
	color: #deb;
}

#content > h2:first-child, #content > p:first-child {
	margin-top: 0;
}

h2, h3, h4 {
	color: #463;
}

h1 {
	margin: 0;
}

h1 a {
	text-decoration: none;
}

a {
	color: #463;
}

img {
	border: 0;
}

q {
	color: #575;
}

blockquote {
	color: #353;
}

.spacer {
	clear: both; height: 1px;
}

.footer {
        clear: both;
       	xwidth: 960px;
        margin: 0.5em 0 0.5em 160px;
        border-radius: 5px;
        background: #deb;
        text-align: center;
	font-size: 0.75em;
}

#fbLogin > img, #twLogin > img
{
	width: 150px;
	height: 22px;
	margin: 0.25em 0;
}

#jsonUpdate {
	position: fixed;
	top: 40%;
	left: 40%;
	width: 20%;
	background: white;
	padding: 5px;
	border: 1px solid #deb;
	border-radius: 5px;
	display: none;
}

.jsonload {
	float: right;
	color: #666;
}

.jsonload img {
	width: 16px;
	height: 16px;
}

.ui-dialog {
	border: 1px solid #9c6;
	border-radius: 5px;
	background: #deb;
	display: none;
        font-size: 0.875em;
	font-family: sans-serif;
}

.ui-dialog-titlebar {
	background: #463;
	color: #fff;
	border: 0;
	border-radius: 5px;
}

.ui-dialog-buttonpane {
	border: 0;
	background: transparent;
	margin: 0;
	padding: 0;
}

.ui-button {
}
.ui-button-textonly .ui-button-text, .ui-button-text {
	padding: 0;
	margin: 0;
	line-height: 2em;
}

.pictureFormItem {
	position: relative;
	width: 75px;
	height: 75px;
	float: left;
        margin: 0 10px 10px 0;
}

.ui-state-highlight {
        position: relative;
	width: 73px;
	height: 73px;
	border: 1px dotted #9c6;
	background: #deb;
	float: left;
        margin: 0 10px 10px 0;
}

.pictureFormItem img {
	width: 75px;
	height: 75px;
}

.pictureFormItem .img-overlay {
	display: none;
	position: absolute;
	right: 0px;
	top: 0px;
	background: #deb;
	border: 1px solid #463;
	padding: 3px;
	border-radius: 0 0 0 5px;
}

.pictureFormItem .img-overlay img {
        width: 16px;
        height: 16px;
	opacity: 1;
}

div.comment {
	min-height: 50px;
	margin-bottom: 1px;
	background: #deb;
	padding: 5px;
	clear: left;
}

div.comment:first-child {
	border-radius: 5px 5px 0 0;
}
.comments > .comment:first-child img {
	border-radius: 5px 0 0 0;
}

div.comment:last-child {
	border-radius: 0 0 5px 5px;
}

div.commentTxt {
	margin-left: 55px;
	-moz-margin-left: 50px+0.25em;
}

.dummy p {
	margin: 0;
	padding: 5px;
}
form {
	width: 99%;
	background: #deb;
	border-radius: 5px;
	margin: 0 0  0.5em 0;
	float: left;
}

form p {
	clear: left;
}

form label {
	display: block;
	font-weight: bold;
	text-align: right;
	width: 20%;
	margin: 5px 5px 0 0;
	padding: 0 5px;
	float: left;
	color: #fff;
	background: #9c6;
	border: 0;
	border-radius: 0 5px 5px 0;
}

form span {
	display: inline-block;
	margin: 5px 5px 0 0;
}

form .small {
	color: #fff;
	display: block;
	font-size: 0.875em;
	font-weight: normal;
	text-align: right;
}

p.small {
	font-size: 0.875em;
}

form input, form textarea, form select {
	border: solid 1px #463;
	width: 70%;
	margin: 5px 5px 0 0;
	float: left;
}

form input[type="checkbox"] {
	width: auto;
}

form textarea {
	height: 10em;
}

.cleditorMain textarea {
	float: none;
	width: auto;
}

.cleditorMain {
        width: 70%;
        float: left;
}

form label span.remaining {
	font-size: 0.875em;
	font-weight: bold;
}

form label span.remaining.error {
	color: #f00;
}

form label span.remaining.warning {
	color: #fc0;
}
 
div.commentTxt > form {
	border: 0;
	border-radius: 0;
	margin: 0;
}

div.commentTxt > form > textarea {
	margin: 0;
	width: 100%;
	overflow: auto;
}

button, a.button, .ui-dialog .ui-dialog-buttonpane button {
  line-height: 16px;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  display: inline-block;
  font-family: sans-serif;
  font-size: 0.75em;

  height: 16px;
  margin: 5px;
  padding: 3px;
  -webkit-padding: 3px;

  color: #fff;
  background: #463;
  background: -webkit-gradient(linear, left top, left bottom, from(#9c6), to(#463)); /* for webkit browsers */
  background: -moz-linear-gradient(top,  #9c6,  #463); /* for firefox 3.6+ */
  border: 1px solid #463;
  border-radius: 5px;
}

button {
  height: 24px;
  line-height: 16px;
  padding: 1px 0px 3px 0px;
}

.ui-dialog .ui-dialog-buttonpane button {
	min-height: 3em;
	height: 3em;
	
}

button:hover, a.button:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#9c6), to(#000));
  background: -moz-linear-gradient(top,  #9c6,  #000);
  color: #fff;
  cursor: pointer;
}

article button, article a.button {
  background: #deb;
  background: -webkit-gradient(linear, left top, left bottom, from(#deb), to(#463)); /* for webkit browsers */
  background: -moz-linear-gradient(top,  #deb,  #463); /* for firefox 3.6+ */
  border: 1px solid #deb;
  margin: 0 0 5px 0;
}

button.disabled, button.disabled:hover {
  color: #999;
  background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#333));
  background: -moz-linear-gradient(top, #999, #333);
    
  border: 1px solid #666;
  cursor: not-allowed;
}

button span.buttonImg, a.button span.buttonImg {
  float: left;
  width: 16px;
  height: 16px;
  padding: 0px;
  margin: 0px 3px 0px 0px;
  background-size: cover;
}

a.button.large {
  line-height: 32px;
  height: 32px;
  padding: 3px;
}

button.large {
  height: 40px;
  line-height: 32px;
  padding: 1px 0px 3px 0px;
}

button.large span.buttonImg, a.button.large span.buttonImg {
  width: 32px;
  height: 32px;
}

button.Facebook span.buttonImg, a.button span.buttonImg.Facebook {
  background: url('/kiki/img/komodo/social_networking_iconpack/facebook_16.png') no-repeat 0px 0px;
}
button.Facebook.large span.buttonImg, a.button.large span.buttonImg.Facebook {
  background: url('/kiki/img/komodo/social_networking_iconpack/facebook_32.png') no-repeat 0px 0px;
}

button.Twitter span.buttonImg, a.button span.buttonImg.Twitter {
  background: url('/kiki/img/komodo/social_networking_iconpack/twitter_16.png') no-repeat 0px 0px;
}
button.Twitter.large span.buttonImg, a.button.large span.buttonImg.Twitter {
  background: url('/kiki/img/komodo/social_networking_iconpack/twitter_32.png') no-repeat 0px 0px;
}

button span.buttonImg.GooglePlus, a.button span.buttonImg.GooglePlus {
  background: url('/kiki/img/komodo/social_networking_iconpack/google_plus_16.png') no-repeat 0px 0px;
}
button.large span.buttonImg.GooglePlus, a.button.large span.buttonImg.GooglePlus {
  background: url('/kiki/img/komodo/social_networking_iconpack/google_plus_32.png') no-repeat 0px 0px;
}

button span.buttonImg.Email, a.button span.buttonImg.Email {
  background: url('/kiki/img/komodo/social_networking_iconpack/email_16.png') no-repeat 0px 0px;
}
button.large span.buttonImg.Email, a.button.large span.buttonImg.Email {
  background: url('/kiki/img/komodo/social_networking_iconpack/email_32.png') no-repeat 0px 0px;
}

aside a.button {
	display: block;
	font-size: 1em;
	margin: 3px 0px;
}

form button {
	float: right;
	margin: 5px;
	height: 2.5em;
	min-height: 32px;
	text-align:center;
	line-height: 2em;
}

form.hidden {
	display: none;
}

.shrunk input {
	color: #666;
}

.shrunk textarea {
	color: #666;
	height: 1.5em;
}

.shrunk img.social {
	display: none;
}

.shrunk button {
	display: none;
}

.placeholder {
	color: #aaa;
}

iframe#ajaxFileUploadTarget {
	width: 0;
	height: 0;
	display: none;
}

div.banner {
  width: 780px;
  height: 250px;
  clear: all;
  padding: 0px 0px 10px 0px;
}

div.bannerItem {
  height: 250px;
  display: table-cell;
  vertical-align: bottom;
}

div.bannerItem a {
  display: block;
  padding: 5px;
  background: #000;
  opacity: 0.7;
  font-size: 1.5em;

  color: #deb;
  text-decoration: none;
}      

div.bannerItem a:hover {
  background: #9c6;
  opacity: 1;
  color: #fff;
}

article {
  margin: 0 0 1em 0;
  padding: 0px;
}
article .author, article .relTime {
  margin: 0px;
  font-size: 0.875em;
  padding: 0px 5px;
}
article h2 {
  margin: 0;
  padding: 0;
  color: #463;
  xbackground: #9c6;
  border-radius: 5px 5px 0 0;
}
article h2 span {
  xbackground: #deb;
  padding: 0 5px;
  border-radius: 5px 5px 0 0;
}
article h2 a {
  text-decoration: none;
}
article header {
  margin: 0px;
  background: #deb;
  border-radius: 5px;
}

article header > img {
  width: 100%;
}

article header > img.thumb {
  width: 160px;
  height: 90px;
  float: right;
  margin: 10px;
}

article footer, footer.pageFooter {
  clear: both;
  padding: 0;
  margin: 0;
  text-align: right;
}

article footer ul, footer.pageFooter ul {
  width: auto;
  padding: 0;
  margin: 0;
}

article footer li, footer.pageFooter li  {
  margin: 0;
  padding: 0;
  display: inline;
}

.youtube-player {
	width: 640px;
	height: 385px;
}

.ui-datepicker {
	font-size: 0.75em;
	border: 1px solid #9c6;
	border-radius: 5px;
	background: #deb;
}
.ui-datepicker-header {
	border: 1px solid #9c6;
	border-radius: 5px;
	background: #dfb;
}
.ui-datepicker .ui-state-default {
	border: 1px solid #9c6;
	background: #dfb;
}
.ui-datepicker .ui-state-active {
	border: 1px solid #9c6;
	background: white;
}

/* css for timepicker */
.ui-timepicker-div .ui-widget-header{ margin-bottom: 8px; }
.ui-timepicker-div dl{ text-align: left; }
.ui-timepicker-div dl dt{ height: 25px; }
.ui-timepicker-div dl dd{ margin: -25px 0 10px 65px; }
.ui-timepicker-div .ui_tpicker_hour div { padding-right: 2px; }
.ui-timepicker-div .ui_tpicker_minute div { padding-right: 6px; }
.ui-timepicker-div .ui_tpicker_second div { padding-right: 6px; }
.ui-timepicker-div td { font-size: 90%; }

img.social {
	float: left;
	width: 16px;
	height: 16px;
	margin: 0 5px 0 0;
	-moz-margin: 0 0.5em 0 0;
	padding: 33px 1px 1px 33px;

	background-repeat: no-repeat;
	background-position: center center;
	background-color: transparent;
}

aside img.social {
	float:right;
	margin-left: 0.25em;
	margin-right: 0;
}

.relTime {
	color: #666;
	font-size: 0.875em;
}

.comments {
	font-size: 0.875em;
}

.album .header {
	background: #deb;
	border-radius: 5px 5px 0 0;
	padding: 5px 0;
	font-weight: bold;
}

.album .imgw {
	background: #000;
	padding: 0 0 2px 0;
	text-align: center;
	width: 100%;
	height: 480px;
	line-height: 480px;
}

.album .imgw >img {
	max-width: 100%;
	max-height: 480px;
	margin: 0;
	vertical-align: middle;
	z-index: 1;
}

.album .navarroww {
	position: relative;
	float: left;
	top: -480px;
	width: 36px;
	height: 36px;
	z-index: 10;
	vertical-align: middle;
}


.album .navarroww img {
        background: #9c6;
	padding: 2px;
        border-radius: 0px 16px 16px 0px; 
`	opacity: 0.8;
}

.album .navarrow.disabled {
	display: none;
}

.album #navrightw {
	float: right;
}

.album #navrightw img {
        border-radius: 16px 0px 0px 16px;
}

.album .bar {
	background: #deb;
	padding: 5px 0;
}

table {
	width: 100%;
	border: 1px solid #463;
	background: #9c6;
}

xthead {
	border: 1px solid green;
	background: blue;
}
xtbody {
	border: 1px solid purple;
	background: pink;
}

th {
	background: #9c6;
}

xtr {
	border: 1px solid orange;
	background: black;
}
td {
	background: #deb;
}
tr.disabled {
	color: #999;
}

/* HACK: use a proper grid model for columns etc */
#content > div.column {
  width: 250px;
  float: right;
  color: #000;
  background: #deb;
  border-radius: 5px;
  margin: 0.5em 0.5em 0.5em 0.5em;
  padding: 5px;
}

#content > div.column ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#content > div.column li {
}

@media print {
	#content a[href^="http"]:after {
		content: " (" attr(href) ") ";
   	}

	#content a[href^="/"]:after {
                content: " (" attr(href) ") ";
   	}

	aside .box {
		display: none;
	}

	aside {
		float: left;
	}

	#content {
		width: auto;
		max-width: none;
		margin: 0;
		-moz-margin: 0;
	}
}

/* / TODO: from old dev, port */

aside {
	margin: 10px auto;
	-moz-margin: 0 auto;
	position: relative;
	top: auto;
	left: auto;
	float: right;
	width: 150px;
	padding: 0px 0px;
}

#sw.left aside {
	float: left;
}

#search {
	height: 50px;
	vertical-align: middle;
}

#search input {
	width: 148px;
	border: 1px solid #9c6;
	margin: 0;
}

body > header {
	margin: 0 auto;
	color: #fff;
	background: #000;
	padding: 0.5em;
}

#title {
	display: block;
	width: 960px;
	margin: 0 auto;
}

#title span.title {
	font-size: 1.25em;
	font-weight: bold;
}

#title a {
	text-decoration: none;
}

#title img {
	margin-right: 25px;
}

body > nav {
	display: block;
	margin: 0 auto;
	background: #9c6;
        font-size: 0.875em;
}

body > nav.second {
	background: #deb;
	font-size: 0.75em;
}

body > nav ul {
	width: 960px;
	margin: 0 auto;
	padding: 0;
	clear: both;
}

body > nav ul li {
	display: inline-block;
	margin: 0 auto;
	padding: 5px;
	font-weight: bold;
	text-align: center;
	vertical-align: bottom;
}

body > nav ul li.right {
	float: right;
}

body > nav a {
	color: #463;
	text-decoration: none;
}

body > nav ul li:hover, body > nav ul li.active {
	text-decoration: none;
	background: #deb;
}

body > nav ul li.icon {
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 37px;
}

body > nav.second ul li:hover, body > nav.second ul li.active {
	text-decoration: none;
	background: white;
}

#content {
	width: 785px;
	margin: 10px 0;
	-moz-margin: 10px 0;
	border: 1px solid #deb;
	border-radius: 10px;
	padding: 9px;
	margin-right: 160px;
}

.footer {
	width: 800px;
	margin: 0;
	-moz-margin: 0;
	padding: 0;
}

@media handheld, only screen and (max-device-width: 540px) {

	#sw, #cw, #fw, #title, body > nav ul, .footer {
	        max-width: auto;
		width: auto;
		margin: 0;
		padding: 0;
	}

	aside {
		display: block;
		float: none;
		max-width: auto;
		width: auto;
	}

	#cw #content {
		margin: 0;
		width: auto;
	}

	#content {
        	max-width: auto;
		width: auto;
		margin-right: 0;
		margin: 0;
		border: 0;
		clear: both;
	}

	body > nav ul li.right {
		float: none;
	}

	.youtube-player {
		width: auto;
		height: auto;
	}

	form label, form input, form textarea, form select, form div.checkboxw {
		width: 90%;
		margin: 0 auto;
		padding: 5px;
		text-align: left;
		float: none;
		display: block;
	}

	form input[type="checkbox"] {
		height: 1em;
		float: left;
		width: auto;
		margin: 0 5px;
	}

	form label {
		border: 1px solid #9c6;
                border-radius: 5px 5px 0 0;
	}
}
